.footer {
  position: absolute;
  left: 0;
  background: $color-1;
  color: $color-3;
  width: 100%;
  height: 116px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 16px 3px;

  .icon {
    @include verticalCenter;
    gap: 27px;

    .fb {
      width: 24px;
      height: 23.85px;
    }
    .ig {
      width: 24px;
      height: 24px;
    }
  }
  span{
    @include verticalCenter;
    text-transform: capitalize;
    margin: 10px;
  }
  .legacy {
    @include verticalCenter;
    text-transform: capitalize;
    color: $color-3;
    margin-bottom: 15px;
  }
}