@import 'src/styles/breakpoints';
@import "src/styles/settings";

.container {
  margin-top: 13.2rem;
  background: $color-2;
  margin-bottom: 1.4rem;
  height: calc(100vh - 11.8rem);
  @include xs{
    height: 100vh;
  }
  @include md {
    height: calc(100vh - 5.2rem);
    margin-top: 5rem;
  }

  .photo {
    @media screen and (max-width: 719.98px) {
      display: none;
    }
    @include md {
      img {
        margin: 102px 1px 1.4rem 50px;
        max-width: 222px;
        height: 396px;
        object-fit: cover;
        border: 1px solid $color-1;
        border-radius: 25px;
      }
    }
    @include lg {
      img {
        margin: 102px 1px 1.4rem 20px;
        max-width: 300px;
        height: 396px;
        object-fit: cover;
        border: 1px solid $color-1;
        border-radius: 25px;
      }
    }
    @include xl {
      img {
        margin: 102px 1px 1.4rem 135px;
        max-width: 318px;
        height: 396px;
        object-fit: cover;
        border: 1px solid $color-1;
        border-radius: 25px;
      }
    }
  }

  h2 {
    @include verticalCenter;
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-1;
    padding: 10px;
  }

  form {


    .field {

      vertical-align: top;
      margin: 0 30px 10px 10px;
      text-transform: uppercase;
      color: $color-1;

      &::after {
        content: "";
        display: block;
        width: 90vw;
        height: 1px;
        left: 10px;
        background: $color-1;

        @include md {
          width: 280px;
        }
        @include lg {
          width: 328px;
          left: 96px;
        }
      }

      input {
        margin-left: 20px;
        padding: 10px 0 7px;
        border: none;
        background: $color-2;
        width: 55%;
        @include lg {
          width: 50%;
        }
      }

      textarea {
        vertical-align: top;
        width: 65%;
        height: 84px;
        background: none;
        padding: 10px 0 12px;
        border: none;
        @include md {
          width: 100%;
        }
      }
    }
  }
}

.send {
  background: $color-1;
  color: $color-2;
  margin-top: 1.9rem;
  margin-left: 65%;
  padding: 4px 20px 4px 20px;
  font-size: 1.5rem;
  text-transform: capitalize;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  @include md {
    @include verticalCenter;
    vertical-align: center;
    margin-left: 100px;
    width: 137px;
    height: 41px;

  }
}

.postale {
  margin-left: 17px;
  @include verticalCenter;
  align-items: center;
  width: 50%;
}

.telephone {
  margin-right: 17px;
  @include verticalCenter;
}

.sub-section {
  margin-top: 5px;
  display: inline-flex;
  justify-content: space-between;

}


.courriel {
  @include verticalCenter;
  margin-top: 37px;
}

.local-sub {

  @include md {
margin-top: 3rem;
    .telephone {
      width: 50%;
      margin-right: 0;
    }
    .courriel {
      width: 45%;
      margin-top: 0;
      margin-right: 17px;

    }
    display: flex;
    justify-content: space-around;

  }

}


@include md {
  h2 {
    font-size: 3rem;
  }
  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    aside {
      align-content: center;
    }

    .send {
      align-self: center;
    }
  }
}

@include lg {
  h2 {
    font-size: 3rem;
  }
  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    aside {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
    }

    .send {
      margin-right: 20px;
      align-self: center;
    }
  }
}

@include lg {
  h2 {
    font-size: 3rem;
  }
  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    aside {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
    }

    .send {
      align-self: center;
    }
  }
}