@import 'src/styles/breakpoints';
@import "src/styles/settings";

.galery {
  @include verticalCenter;
  background: $color-2;
  flex-direction: column;
  margin-top: 13.2rem;
  margin-bottom: 7rem;
  @include md {
    margin-top: 5rem;
    margin-bottom: 0;
    background-image: url("../../../public/imgs/wall.jpg");
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100vh;
    position: absolute;
    right: 0;
    overflow: hidden;
    background: $color-3;
    z-index: 20;


    span {
      display: block;
      padding: 1rem;
      font-size: 1.6rem;
      transition: all .4s ease-in-out;
      cursor: pointer;
    }

    span:hover {
      padding-left: 2rem;
      letter-spacing: 5px;
    }

  }

  .show-nav .navbar__links {
    width: 100%;


  }

  .burger {
    display: block;
    position: relative;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    z-index: 20;
    cursor: pointer;
    @include md {
      display: none;
    }

    .bar {
      display: block;
      width: 45px;
      height: 4px;
      background: $color-1;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }

    .bar::before, .bar::after {
      content: "";
      display: block;
      width: 45px;
      height: 4px;
      position: absolute;
      left: 0;
      background: $color-1;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }

    .bar::before {
      transform: translateY(-12px);
    }

    .bar::after {
      transform: translateY(12px);
    }
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .radio-galery {

    display: flex;
    margin: 40px;
    padding-left: 18px;
    color: $color-1;
    text-transform: capitalize;
    border: 1px solid $color-1;
    border-radius: 8px;
    background: $color-3;

    li {
      padding-right: 40px;

      label {
        padding-left: 18px;
      }
    }

    @media screen and (max-width: 719.98px) {
      display: none;
    }
    @include md {
      flex-wrap: wrap;
      justify-content: center;
    }

  }


  .cancel {
    margin-bottom: 1.4rem;

    .button-cancel {
      border: 1px solid black;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      color: $color-1;
      background: $color-3;
      cursor: pointer;
    }

    .button-cancel:hover {
      background: $color-1;
      color: $color-3;
    }
  }
}


.images {

  @include verticalCenter;
  flex-direction: column;
  width: 93%;
  bottom: 10.4rem;


  img {
    position: relative;
    align-items: center;
    max-height: 30rem;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 1.4rem;
  }

  @include md {
    display: none;
  }
}

.carousel-root {
  margin-bottom: 85px;
}
.carousel-slider {

  margin-left: auto !important;
  margin-right: auto !important;
  background: transparent;

  img {
    border-radius: 25px;
    margin: auto !important;
    max-width: 93% !important;
    width: auto !important;
    max-height: calc(65vh - 85px) !important;
  }

  @media screen and (max-width: 719.98px) {
    display: none;
  }
}

.thumbs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 10px;
  @media screen and (max-width: 719.98px) {
    display: none;
  }

}

.thumb {

  margin: 0 5px;
  border-radius: 25px;
  cursor: pointer;
}