.galery {
  @include verticalCenter;
  background: $color-2;
  flex-direction: column;

  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    height: calc(100vh - 13.2rem);
    position: absolute;
    top: 13.2rem;
    right: 0;
    overflow: hidden;
    background: $color-3;
    z-index: 20;


    span {
      display: block;
      padding: 1rem;
      font-size: 1.6rem;
      transition: all .4s ease-in-out;
    }

    span:hover {
      padding-left: 2rem;
      letter-spacing: 5px;
    }

  }

  .show-nav .navbar__links {
    width: 100%;
  }

  .burger {
    display: block;
    position: relative;
    margin-top: 1.4rem;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    z-index: 20;
    cursor: pointer;

    .bar {
      display: block;
      width: 45px;
      height: 4px;
      background: $color-1;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }

    .bar::before, .bar::after {
      content: "";
      display: block;
      width: 45px;
      height: 4px;
      position: absolute;
      left: 0;
      background: $color-1;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }

    .bar::before {
      transform: translateY(-12px);
    }

    .bar::after {
      transform: translateY(12px);
    }
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
}




.pictures {
  position: relative;
  width: 93%;

  img {
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 1.4rem;

  }

}

