@import "src/styles/libs/reset";
@import "src/styles/breakpoints";


@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/NovaMono-Regular.ttf);
}

$font-1: "font-1";

$color-1: #47555E;
$color-2: #EEEEEE;
$color-3: #D0D1D2;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: font-1, sans-serif;
  font-size: 16px;
  //padding-top: 13.2rem;

  @include md {
    font-size: 20px;
  }
  @include lg {
    font-size: 24px;
  }
}

li {
  list-style-type: none;
}
