@import "src/styles/libs/reset";
@import "src/styles/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');


$color-1: #47555E;
$color-2: #EEEEEE;
$color-3: #D0D1D2;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}



body {
  font-family: 'Nova Mono', monospace;
  font-size: 16px;
  background: $color-2;

  @include md {
    font-size: 20px;
  }
  @include lg {
    font-size: 24px;
  }
}

li {
  list-style-type: none;
}
