@import "src/styles/libs/reset";

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/NovaMono-Regular.ttf);
}

$font-1: "font-1";

$color-1: #47555E;
$color-2: #EEEEEE;
$color-3: #D0D1D2;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: font-1, sans-serif;
  font-size: 1rem;
  padding-top: 13.2rem;
//  todo scrollbar
}

li {
  list-style-type: none;
}
