@import "src/styles/settings";
@import "src/styles/components/header";
@import "src/styles/components/footer";
@import "src/styles/components/homepicture";
@import "src/styles/components/pictures";
@import"src/styles/pages/home";


